<label for="item">Product Search</label>
<input type="text" id="item" class="form-control mb-4"
    (input)="onClickSearch($event)">

    <input type="text" id="item" class="form-control mb-4"
    [(ngModel)]="productNames">


    <p>{{productNames}}</p>

<button class="btn btn-primary" [disabled]="isDisabled"
    (click)="onClickProduct()">Add Products</button>

    <input type="text" class="form-control alert alert-info" [value]="productStates">
<app-product></app-product>
<app-product></app-product>
<p [innerText]="skills" class="form-control bg-primary text-white mt-4"></p>
<div class="col-sm-6">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let skill of skills">
            I Love {{skill}}
        </li>
    </ul>
    <!-- directive => are introctions to the dom
        components 
        attribute directive
        structurer directive
    
    -->
</div>